<!DOCTYPE html>
<html>
  <head>
    <title>Find Your Plants</title>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/nicolasenne/image/upload/v1606158095/find-your-plants/icon-plant_b6j1dj.svg">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>


      <%= yield %>



</html>
